*{
  margin: 0;
  padding: 0;
  background-color: #18171d;
  color: #fff;
}

h1{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form label{
  display: flex;
  flex-direction: column;
}